* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

/***** Header *****/

.logo {
  position: absolute;
  margin-left: 10px;
}

/***** Navigation *****/

nav {
  position: relative;
  padding: 10px 20px 10px 10px;
  margin: auto;
  width:calc(100% - 60px);

  text-align: center;
  font-family: 'Karla', sans-serif;

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

nav ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
    
  width: 50%;
  margin: auto;   
}

.main-menu li {
  list-style-type: none;
  
  flex: auto;
}

.main-menu li a {
  color: black;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: .8rem;

  line-height: 30px;
  position: relative;
  margin: auto;
  padding:0 25px;

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.main-menu li a:hover {
  background-color: black;
  color: white;
}

/***** Nav Button *****/

.button-wrapper {
  display: flex;

  text-align: center;
}

.button {
  border: none;
  border-radius: 1rem;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
  background-color: orangered;
  
  padding: 1rem 2rem;
}

.button-wrapper a:hover {
  color: white;
  background-color: black;
}

/***** Hero Section *****/
/***** I have been struggling with mkaing my hero section entirely responsive the text is but the image is not it just stretches *****/

.hero-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-size: cover;
  background-position: center center;
  filter: brightness(60%);
}

body {
  margin: 0;
  padding: 0;
  align-self: flex-end;

  background-color: #f2f3f4;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;

  max-width: 100%;
  margin: 0 auto;
  position: relative;
  height: 100vh;
}

.hero-content {
  position: relative;
  margin: 5rem;

  font-family: 'Fjalla One', sans-serif;
  color: orangered;
  text-align: center;
}

.hero-title {
  font-weight: 600;
  margin-bottom: 0;
}

.hero-tagline {
  font-weight: 200;
  margin-top: 1rem;
}

/***** Contact Session *****/

.formspree {
  padding: 1rem 1rem 1rem 1rem;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.formspree-list {
  list-style-type: none;
}

.hero-button {
  border: none;
  border-radius: 1rem;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.2);

  background-color: orangered;

  margin: 1rem;
  padding: 1rem 1rem 1rem 1rem;
  width: auto;

  cursor: pointer;
}

/***** Map *****/

.map {
  text-align: center;
  
  display: flex;
  justify-content: center;
  align-self: flex-end;
}

/***** Footer *****/

.footer {
  width: 100%;

  padding: 2rem 0 2rem 0;

  text-align: center;
  font-family: 'Karla', sans-serif;            
}

/***** Font Size Media Queries *****/

@media screen and (min-width: 601px) {
  .hero {
    font-size: 3rem;
  }
}

@media screen and (max-width: 600px) {
  .hero {
    font-size: 2rem;
  }
}